# https://spacelift.io/blog/terraform-tfvars
user_uuid = "e578064c-5321-4466-adad-fd7022ed144b"
bucket_name = "ejwe08ojpgo84dqy78f3dt4gni"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1